.site-title{
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin-top:1em;
}

.frontpage-site-title{
    margin-bottom: 2em;
}

.category{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 1em auto;
    border: none;
}

.category .card-img-top{
    font-size: 4em;
}

.category a, .category a:hover, .category a:active, a.noblue, a.noblue:hover{
    color: inherit;
}

.nav{
    font-size: 2em;
}

.content{
    margin:0 auto;
    width:80%;
}

.body{
    max-width: 1000px;
}

.footer{
    margin-top: 1em;
    text-align: center;
}

.copyright-table{
    max-width:350px;
    margin: 0 auto;
}

.page-card{
    margin: 1em;
    /* width: 250px; */
    max-width: 400px;
    text-align: center;
}

.figure-img, .figure-caption{
    display:block;
}

tr.border-bottom{
    border-bottom: 2px solid !important;
}

.v-spacer{
    height: 10em;
}

video {
    max-width: 100%;
}