<html>
	<head>
		<title>{{ page.title }} - John Holbrook</title>
		<link rel="stylesheet" type="text/css" href="{{ site.url }}/site.css">
		<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
	</head>
	<body>
		<div class="content title">
			<h1 id="title">John Holbrook</h1>
			<h2 id="nav">
				<a href="{{ site.url }}/">Home</a>
				<a href="{{ site.url }}/about.html">About</a>
				<a href="{{ site.url }}/LEGO">LEGO</a>
				<a href="{{ site.url }}/projects.html">Projects</a>
				<a href="{{ site.url }}/contact.html">Contact</a>
			</h2>
		</div>
		<div class="content body">
			<!-- Content goes here -->
			<h2>{{ page.title }}</h2>
			{{ content }}
			</div>
		<div class="content footer">
			<small>&copy; 2015 John Holbrook</small>
		</div>
	</body>
</html>