<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - John Holbrook</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/site.css">
		<link rel="shortcut icon" href="/icons/favicon.ico">
	</head>
	<body>
		<div class="content title">
			<h4 class="site-title"><a href="{{site.url}}" class="noblue">John Holbrook</a></h4>
			<nav class="nav justify-content-center">
				<a class="nav-link" href="{{ site.url }}/about.html">About</a>
				<a class="nav-link" href="{{ site.url }}/projects.html">Projects</a>
				<a class="nav-link" href="{{ site.url }}/articles.html">Articles</a>
				<a class="nav-link" href="{{ site.url }}/lego.html">LEGO&reg;</a>
				<a class="nav-link" href="{{ site.url }}/contact.html">Contact</a>
			</nav>
		</div>
		<div class="content body">
			<!-- Content goes here -->
			<br/>
			<h1 class="text-center">{{ page.title }}</h1>
			<em>{{ page.subhead }}</em>
			{{ content }}
			</div>
		<div class="content footer">
			<small>&copy; 2019 John Holbrook</small>
		</div>
	</body>
</html>