<html>
	<head>
		<title>{{ page.title }} - John Holbrook</title>
		<link rel="stylesheet" type="text/css" href="./site.css">
		<link rel="shortcut icon" href="./favicon.ico">
	</head>
	<body>
		<div class="content title">
			<h1 id="title">John Holbrook</h1>
			<h2 id="nav">
				<a href="./">Home</a> &bull;
				<a href="./about.html">About</a> &bull;
				<a href="./LEGO.html">LEGO</a> &bull;
				<a href="./projects.html">Projects</a> &bull;
				<a href="./contact.html">Contact</a>
			</h2>
		</div>
		<div class="content body">
			<!-- Content goes here -->
			{{ content }}
			</div>
		<div class="content footer">
			<small>&copy; 2015 John Holbrook</small>
		</div>
	</body>
</html>