<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - John Holbrook</title>
		<link rel="stylesheet" type="text/css" href="./../site.css">
		<link rel="shortcut icon" href="./../favicon.ico">
	</head>
	<body>
		<div class="content title">
			<h1 id="title">John Holbrook</h1>
			<div class="grow">
				<a href="https://twitter.com/JohnPHolbrook">
					<img src="{{ site.url }}/img/Twitter_logo_blue.png" class="logo"><b class="hovertext"> @JohnPHolbrook on Twitter</b>
				</a>
			</div>
			<div class="grow">
				<a href="https://github.com/dhmmjoph">
					<img src="{{ site.url }}/img/GitHub.png" class="logo"> <b class="hovertext"> @dhmmjoph on GitHub</b>
				</a>
			</div>
			<div class="grow">
				<a href="http://www.reddit.com/user/dhmmjoph/">
					<img src="{{ site.url }}/img/snoo.png" class="logo"> <b class="hovertext"> /u/dhmmjoph on reddit</b>
				</a>
			</div>
			<div class="grow">
				<a href="https://www.youtube.com/channel/UCwghc9-xTrSMLlSjcYd7e0A">
					<img src="{{ site.url }}/img/YouTube.png" class="logo"> <b class="hovertext"> Hello World! on YouTube</b>
				</a>
			</div>
			<h2 id="nav">
				<a href="/../">Home</a>
				<a href="/../about.html">About</a>
				<a href="/../LEGO">LEGO</a>
				<a href="/../projects.html">Projects</a>
				<a href="/../contact.html">Contact</a>
			</h2>
		</div>
		<div class="content body">
			<h1>{{ page.title }}</h1>
			<!-- Content goes here -->
			{{ content }}
			</div>
		<div class="content footer">
			<small>&copy; 2015 John Holbrook</small>
			<br/>
			<small>LEGO&reg; is a trademark of the LEGO Group of companies which does not sponsor, authorize or endorse this site.</small>
		</div>
	</body>
</html>