<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - John Holbrook</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/site.css">
		<link rel="shortcut icon" href="/icons/favicon.ico">
	</head>
	<body>
		<div class="content title">
			<h4 class="site-title"><a href="{{site.url}}" class="noblue underline-on-hover">John Holbrook</a></h4>
			<nav class="nav justify-content-center">
				<a class="nav-link" href="{{ site.url }}/about.html">About</a>
				<a class="nav-link" href="{{ site.url }}/projects.html">Projects</a>
				<a class="nav-link" href="{{ site.url }}/articles.html">Articles</a>
				<a class="nav-link" href="{{ site.url }}/lego.html">LEGO&reg;</a>
				<a class="nav-link" href="{{ site.url }}/contact.html">Contact</a>
			</nav>
		</div>
		<div class="content body">
			<!-- Content goes here -->
			<br/>
			<h1 class="text-center">{{ page.title }}</h1>
			{{ content }}
		</div>
		<div class="v-spacer"></div>
		<div class="content footer mb-5">
			<small>&copy; 2015 - <span id="year"></span> John Holbrook</small>
			<br/>
			<small>LEGO&reg; is a trademark of the LEGO Group of companies which does not sponsor, authorize or endorse this site. </small>
		</div>
	</body>

	<script>
		const d = new Date();
		document.querySelector("#year").innerHTML = d.getFullYear();
	</script>
</html>