<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }} - John Holbrook</title>
		<link rel="stylesheet" type="text/css" href="./../site.css">
		<link rel="shortcut icon" href="./../favicon.ico">
	</head>
	<body>
		<div class="content title">
			<h1 id="title">John Holbrook</h1>
			<h2 id="nav">
				<a href="/../">Home</a>
				<a href="/../about.html">About</a>
				<a href="/../LEGO">LEGO</a>
				<a href="/../projects.html">Projects</a>
				<a href="/../contact.html">Contact</a>
			</h2>
		</div>
		<div class="content body">
			<h1>{{ page.title }}</h1>
			<!-- Content goes here -->
			{{ content }}
			</div>
		<div class="content footer">
			<small>&copy; 2015 John Holbrook</small>
			<br/>
			<small>LEGO&reg; is a trademark of the LEGO Group of companies which does not sponsor, authorize or endorse this site.</small>
		</div>
	</body>
</html>